# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.vscode/
dist/
web-build/
expo-env.d.ts

# Native / Android / iOS
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.keystore.lock
android/.gradle/
android/app/build/
ios/build/
ios/Pods/
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# Metro bundler cache
.metro-health-check*

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files (Supabase, Sentry, etc.)
.env
.env*.local
.env.development
.env.staging
.env.production

# TypeScript
*.tsbuildinfo

# VS Code & editor settings
.idea/
*.swp

# Coverage & test outputs
coverage/
jest-html-reporters-*.html
reports/

# Sentry (don’t push generated source maps locally)
.sentry/

# Expo Doctor cache
.expo-shared/

# Cache
.tmp/
.cache/